.image-display-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent images from wrapping */
}

.small-image {
    display: inline-block; /* Display images in a row */
    width: 15%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
}
